/* 
   Top Navbar Styles
   ----------------------------------------
*/

/* Flex container for the top navbar */
.c-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-secondary-100);
}

/* Navbar link set text decoration to none */
.c-header__navbar a {
  text-decoration: none;
}

/* Navbar icon padding to 5px */
.c-header i {
  padding: 5px;
}

/* Navbar link hover effect */
.c-header__navbar a:hover {
  color: var(--clr-accent-one-100);
}

/* Active page link */
.is-active-page {
  color: var(--clr-mid-dark);
}

.c-sidebar__list-item a {
  text-decoration: none;
}

.c-sidebar__list-item a:hover {
  color: var(--clr-accent-one-100);
  font-size: var(--fs-400);
}

/* Toggle class for hamburger icon */
.is-show-icon {
  display: none !important;
}

/* Initially hide sidebar menu */
.hide-sidebar-menu {
  display: none;
}

/* Sidebar Styles
     ---------------------------------------- */

.l-sidebar {
  background-color: var(--clr-secondary-100);
}

/* Remove margin from sidebar */
.c-sidebar__list--wrapper {
  margin: 0;
}
/* Add top padding to sidebar title */
.c-sidebar__list--title {
  padding: 10px 0px;
}

/* Typography style */

.c-typography__table th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.c-typography__hidden-section {
  display: none;
}

.c-colour__hidden-section {
  display: none;
}

.c-colour__min-width {
  width: min-content;
}

.c-spacing__mobile--margin {
  margin-top: 3rem;
}

/* ==Media Queries for desktops, 1200px and up) == */
@media only screen and (min-width: 1200px) {
  #hamburger-icon,
  #close-icon {
    display: none;
  }

  /* Show sidenavbar in desktop view */
  .hide-sidebar-menu {
    display: block;
  }

  /* Add gap between header items */
  .c-header__navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  /* Set list style none to header */
  .c-header__navbar li {
    list-style: none;
  }

  /* Display nav list as flex */
  .c-header__list {
    display: flex;
    gap: 10px;
  }

  .c-colour__hidden-section {
    display: table-cell;
  }

  .c-typography__hidden-section {
    display: table-cell;
  }

  .c-colour__min-width {
    width: auto;
  }

  .c-spacing__mobile--margin {
    margin-top: 0;
  }
}
