/* 
   Top Navbar Styles
   ----------------------------------------
*/

/* Flex container for the top navbar */
.l-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-light);
}

/* Close icon set to display none initially */
#close-icon {
  display: none;
}

/* Navbar link set text decoration to none */
.l-header__navbar a {
  text-decoration: none;
}

/* Navbar link hover effect */
.l-header__navbar a:hover {
    color: var(--clr-accent);
}

/* Sidebar Styles
     ---------------------------------------- */

.l-sidebar {
  background-color: var(--clr-light);
}

/* Utility classes for section titles with different priority colors */
.u-sidebar__text--primary {
  color: var(--clr-primary);
}

.u-sidebar__text--secondary {
  color: var(--clr-secondary);
}

.u-sidebar__text--accent {
  color: var(--clr-accent);
}

.u-sidebar__text--light {
  color: var(--clr-light);
}

.u-sidebar__text--white {
  color: var(--clr-white);
}
