/* Root grayscale colors */
:root {
  --clr-primary-100: #333333;
  --clr-primary-200: #282626;
  --clr-primary-300: #191919;
  --clr-primary-400: #000000;             
  --clr-secondary: #9f9d9d;
  --clr-accent: #9f9d9d;
  --clr-light: #e5e3e3;
  --clr-white: #ffffff;
  --clr-dark-grey: #324d4f;
}

/* CSS Reset */

/* Border Box Fix */
* {
  box-sizing: border-box;
}

/* Reset margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Remove padding from lists */
ul,
ol {
  padding: 0;
}
