/* Root grayscale colors */
:root {
  /* Primary color for text */
  --clr-primary-100: #333333;
  --clr-primary-200: #282626;
  --clr-primary-300: #191919;

  /* Secondary color for background */
  --clr-secondary-100: #f8f1ef;
  --clr-secondary-200: #e8cec7;
  --clr-secondary-300: #c6d6cb;
  --clr-secondary-400: #d2e3d9;

  /* Accent color for attention  */
  --clr-accent-one-100: #77a75b;
  --clr-accent-one-200: #bcdea9;
  --clr-accent-one-300: #c5dcb8;
  --clr-accent-two-100: #73435a;
  --clr-accent-two-200: #704153;
  --clr-accent-two-300: #54313e;
  --clr-accent-two-400: #38212a;
  --clr-accent-three-100: #8db8b6;
  --clr-accent-three-200: #5f9491;

  /* Addtional color */
  --clr-dark: #000000;
  --clr-white: #ffffff;
  --clr-mid-dark: #484646;
  --clr-mid-white: #d2dddb;

  /* Font sizes */
  --fs-900: 6rem;
  --fs-800: 4rem;
  --fs-700: 3rem;
  --fs-600: 2.5rem;
  --fs-500: 1.5rem;
  --fs-400: 1.2rem;
  --fs-300: 1rem;
  --fs-200: 0.8rem;
  --fs-100: 0.5rem;

  /* Font families*/
  --ff-montserrat-serif: "Montserrat", sans-serif;
  --ff-lato-serif: "Lato", sans-serif;

  /* Font weights */
  --fw-lightest: 200;
  --fw-mid: 400;
  --fw-bold: 600;
  --fw-boldest: 800;

  /* Line Height */
  --lh-highest: 20px;
  --lh-high: 19px;
  --lh-mid: 18px;
  --lh-low: 16.6px;
  --lh-lowest: 16px;

  /* Letter spacing */
  --ls-high: 1px;
  --ls-mid: 0.5px;
  --ls-low: 0.2px;
}

/* Font size as per screen size */
@media (min-width: 768px) {
  :root {
    --fs-900: 7rem;
    --fs-850: 6rem;
    --fs-800: 5rem;
    --fs-700: 4rem;
    --fs-600: 3.5rem;
    --fs-500: 2.5rem;
    --fs-300: 1rem;
    --fs-200: 1.5rem;
    --fs-100: 0.5rem;
  }
}

/* CSS Reset */

/* Border Box Fix */
* {
  box-sizing: border-box;
}

/* Reset margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

body {
  font-family: var(--ff-lato-serif);
  letter-spacing: var(--ls-low);
}

/* Remove padding from lists */
ul,
ol {
  padding: 0;
}

/* Utility clsses  
 ----------------------------------------
 */

/* Primary Text Colors */
.u-text__primary--light {
  color: var(--clr-primary-100);
}

.u-text__primary--mid {
  color: var(--clr-primary-200);
}

.u-text__primary--dark {
  color: var(--clr-primary-300);
}

/* Primary Background Colors */
.u-bg__primary--light {
  background-color: var(--clr-primary-100);
}

.u-bg__primary--mid {
  background-color: var(--clr-primary-200);
}

.u-bg__primary--dark {
  background-color: var(--clr-primary-300);
}

/* Secondary Background Colors */
.u-bg__secondary--lightest {
  background-color: var(--clr-secondary-100);
}

.u-bg__secondary--light {
  background-color: var(--clr-secondary-200);
}

.u-bg__secondary--mid {
  background-color: var(--clr-secondary-300);
}

.u-bg__secondary--dark {
  background-color: var(--clr-secondary-400);
}

/* Accent Colors for Attention */
.u-accent__green--light {
  color: var(--clr-accent-one-100);
}

.u-accent__green--mid {
  color: var(--clr-accent-one-200);
}

.u-accent__green--dark {
  color: var(--clr-accent-one-300);
}

.u-accent__green--darkest {
  color: var(--clr-accent-two-400);
}

.u-accent__purple--light {
  color: var(--clr-accent-two-100);
}

.u-accent__purple--mid {
  color: var(--clr-accent-two-200);
}

.u-accent__purple--dark {
  color: var(--clr-accent-two-300);
}

.u-accent__blue--light {
  color: var(--clr-accent-three-100);
}

.u-accent__blue--mid {
  color: var(--clr-accent-three-200);
}

.u-accent-bg__green--light {
  background-color: var(--clr-accent-one-100);
}

.u-accent-bg__green--mid {
  background-color: var(--clr-accent-one-200);
}

.u-accent-bg__green--dark {
  background-color: var(--clr-accent-one-300);
}

.u-accent-bg__purple--light {
  background-color: var(--clr-accent-two-100);
}

.u-accent-bg__purple--mid {
  background-color: var(--clr-accent-two-200);
}

.u-accent-bg__purple--dark {
  background-color: var(--clr-accent-two-300);
}

.u-accent-bg__green--darkest {
  background-color: var(--clr-accent-two-400);
}

.u-accent-bg__blue--light {
  background-color: var(--clr-accent-three-100);
}

.u-accent-bg__blue--mid {
  background-color: var(--clr-accent-three-200);
}

.u-bg__white {
  background-color: var(--clr-white);
}

.u-bg__black {
  background-color: var(--clr-dark);
}

.u-bg__mid-white {
  background-color: var(--clr-mid-white);
}

.u-bg__mid-black {
  background-color: var(--clr-mid-dark);
}

/* Additional Colors */

.u-dark {
  color: var(--clr-dark);
}

.u-white {
  color: var(--clr-white);
}

.u-dark__mid {
  color: var(--clr-mid-dark);
}
.u-white__mid {
  color: var(--clr-mid-white);
}

.u-swatch {
  width: 100%;
  text-align: center;
  border: 3px solid var(--clr-mid-dark);
}

/* Typography */

/* Font families */
.u-ff__montserrat-serif {
  font-family: var(--ff-montserrat-serif);
}

.u-ff__lato-serif {
  font-family: var(--ff-lato-serif);
}

/* Font size utilitiy */
.u-fs__900 {
  font-size: var(--fs-900);
}

.u-fs__800 {
  font-size: var(--fs-800);
}

.u-fs__700 {
  font-size: var(--fs-700);
}

.u-fs__600 {
  font-size: var(--fs-600);
}

.u-fs__500 {
  font-size: var(--fs-500);
}

.u-fs__400 {
  font-size: var(--fs-400);
}

.u-fs__300 {
  font-size: var(--fs-300);
}

.u-fs__200 {
  font-size: var(--fs-200);
}

.u-fs__100 {
  font-size: var(--fs-100);
}

/* Line Height */
.u-lh__highest {
  line-height: var(--lh-highest);
}

.u-lh__high {
  line-height: var(--lh-high);
}

.u-lh__low {
  line-height: var(--lh-low);
}

.u-lh__lowest {
  line-height: var(--lh-lowest);
}

/* Font weights */
.u-fw__lightest {
  font-weight: var(--fw-lightest);
}

.u-fw__mid {
  font-weight: var(--fw-mid);
}

.u-fw__bold {
  font-weight: var(--fw-bold);
}

.u-fw__boldest {
  font-weight: var(--fw-boldest);
}

/* Letter spacing */
.u-ls__high {
  letter-spacing: var(--ls-high);
}

.u-ls__mid {
  letter-spacing: var(--ls-mid);
}

.u-ls__low {
  letter-spacing: var(--ls-low);
}

/* Text case utilities */
.u-uppercase {
  text-transform: uppercase;
}

.u-capitalize {
  text-transform: capitalize;
}

/* ---------- SPACING UTILITY CLASSES -------------- */

/* ===== Margin Utility Classes ===== */

/* Margins */
.l-m-05 {
  margin: 0.5rem;
}
.l-m-1 {
  margin: 1rem;
}
.l-m-15 {
  margin: 1.5rem;
}
.l-m-2 {
  margin: 2rem;
}
.l-m-25 {
  margin: 2.5rem;
}
.l-m-3 {
  margin: 3rem;
}
.l-m-35 {
  margin: 3.5rem;
}
.l-m-4 {
  margin: 4rem;
}

/* Margin Tops */
.l-mt-05 {
  margin-top: 0.5rem;
}
.l-mt-1 {
  margin-top: 1rem;
}
.l-mt-15 {
  margin-top: 1.5rem;
}
.l-mt-2 {
  margin-top: 2rem;
}
.l-mt-25 {
  margin-top: 2.5rem;
}
.l-mt-3 {
  margin-top: 3rem;
}
.l-mt-35 {
  margin-top: 3.5rem;
}
.l-mt-4 {
  margin-top: 4rem;
}

/* Margin Bottom */
.l-mb-05 {
  margin-bottom: 0.5rem;
}
.l-mb-1 {
  margin-bottom: 1rem;
}
.l-mb-15 {
  margin-bottom: 1.5rem;
}
.l-mb-2 {
  margin-bottom: 2rem;
}
.l-mb-25 {
  margin-bottom: 2.5rem;
}
.l-mb-3 {
  margin-bottom: 3rem;
}
.l-mb-35 {
  margin-bottom: 3.5rem;
}
.l-mb-4 {
  margin-bottom: 4rem;
}

/* Margin Lefts */
.l-ml-05 {
  margin-left: 0.5rem;
}
.l-ml-1 {
  margin-left: 1rem;
}
.l-ml-15 {
  margin-left: 1.5rem;
}
.l-ml-2 {
  margin-left: 2rem;
}
.l-ml-25 {
  margin-left: 2.5rem;
}
.l-ml-3 {
  margin-left: 3rem;
}
.l-ml-35 {
  margin-left: 3.5rem;
}
.l-ml-4 {
  margin-left: 4rem;
}

/* Margin Rights */
.l-mr-05 {
  margin-right: 0.5rem;
}
.l-mr-1 {
  margin-right: 1rem;
}
.l-mr-15 {
  margin-right: 1.5rem;
}
.l-mr-2 {
  margin-right: 2rem;
}
.l-mr-25 {
  margin-right: 2.5rem;
}
.l-mr-3 {
  margin-right: 3rem;
}
.l-mr-35 {
  margin-right: 3.5rem;
}
.l-mr-4 {
  margin-right: 4rem;
}

/* Margin Horizontals */
.l-mx-05 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.l-mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.l-mx-15 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.l-mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.l-mx-25 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.l-mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}
.l-mx-35 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}
.l-mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.l-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Margin Verticals */
.l-my-05 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.l-my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.l-my-15 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.l-my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.l-my-25 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.l-my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.l-my-35 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.l-my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* ===== Padding Utility Classes ===== */

/* Padding */
.l-p-05 {
  padding: 0.5rem;
}
.l-p-1 {
  padding: 1rem;
}
.l-p-15 {
  padding: 1.5rem;
}
.l-p-2 {
  padding: 2rem;
}
.l-p-25 {
  padding: 2.5rem;
}
.l-p-3 {
  padding: 3rem;
}
.l-p-35 {
  padding: 3.5rem;
}
.l-p-4 {
  padding: 4rem;
}

/* Padding Tops */
.l-pt-05 {
  padding-top: 0.5rem;
}
.l-pt-1 {
  padding-top: 1rem;
}
.l-pt-15 {
  padding-top: 1.5rem;
}
.l-pt-2 {
  padding-top: 2rem;
}
.l-pt-25 {
  padding-top: 2.5rem;
}
.l-pt-3 {
  padding-top: 3rem;
}
.l-pt-35 {
  padding-top: 3.5rem;
}
.l-pt-4 {
  padding-top: 4rem;
}
.l-pt-5 {
  padding-top: 5rem;
}
.l-pt-6 {
  padding-top: 6rem;
}
.l-pt-7 {
  padding-top: 7rem;
}
.l-pt-8 {
  padding-top: 8rem;
}
.l-pt-10 {
  padding-top: 10rem;
}
.l-pt-12 {
  padding-top: 12rem;
}
.l-pt-14 {
  padding-top: 14rem;
}

.u-pt-header {
  padding-top: 14rem;
}

/* Padding Bottoms */
.l-pb-05 {
  padding-bottom: 0.5rem;
}
.l-pb-1 {
  padding-bottom: 1rem;
}
.l-pb-15 {
  padding-bottom: 1.5rem;
}
.l-pb-2 {
  padding-bottom: 2rem;
}
.l-pb-25 {
  padding-bottom: 2.5rem;
}
.l-pb-3 {
  padding-bottom: 3rem;
}
.l-pb-35 {
  padding-bottom: 3.5rem;
}
.l-pb-4 {
  padding-bottom: 4rem;
}

/* Padding Lefts */
.l-pl-05 {
  padding-left: 0.5rem;
}
.l-pl-1 {
  padding-left: 1rem;
}
.l-pl-15 {
  padding-left: 1.5rem;
}
.l-pl-2 {
  padding-left: 2rem;
}
.l-pl-25 {
  padding-left: 2.5rem;
}
.l-pl-3 {
  padding-left: 3rem;
}
.l-pl-35 {
  padding-left: 3.5rem;
}
.l-pl-4 {
  padding-left: 4rem;
}

/* Padding Rights */
.l-pr-05 {
  padding-right: 0.5rem;
}
.l-pr-1 {
  padding-right: 1rem;
}
.l-pr-15 {
  padding-right: 1.5rem;
}
.l-pr-2 {
  padding-right: 2rem;
}
.l-pr-25 {
  padding-right: 2.5rem;
}
.l-pr-3 {
  padding-right: 3rem;
}
.l-pr-35 {
  padding-right: 3.5rem;
}
.l-pr-4 {
  padding-right: 4rem;
}

/* Padding Horizontals */
.l-px-05 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.l-px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.l-px-15 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.l-px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.l-px-25 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.l-px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.l-px-35 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
.l-px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

/* Padding Verticals */
.l-py-05 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.l-py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.l-py-15 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.l-py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.l-py-25 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.l-py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.l-py-35 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
.l-py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* ===== Base Layout Classes===== */

/* --- Flex ----*/
/* Display Flex */
.l-flex {
  display: flex;
}

/* Flex Direction */
.l-flex__row {
  flex-direction: row;
}

.l-flex__column {
  flex-direction: column;
}

.l-flex__column-reverse {
  flex-direction: column-reverse;
}

.l-flex__row-reverse {
  flex-direction: row-reverse;
}

/* Flex Wrap */
.l-flex__wrap {
  flex-wrap: wrap;
}

.l-flex__nowrap {
  flex-wrap: nowrap;
}

.l-flex__wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* Justify Content */
.l-flex__justify-start {
  justify-content: flex-start;
}

.l-flex__justify-end {
  justify-content: flex-end;
}

.l-flex__justify-center {
  justify-content: center;
}

.l-flex__justify-space-between {
  justify-content: space-between;
}

.l-flex__justify-space-around {
  justify-content: space-around;
}

.l-flex__justify-space-evenly {
  justify-content: space-evenly;
}

/* Align Items */
.l-flex__align-start {
  align-items: flex-start;
}

.l-flex__align-end {
  align-items: flex-end;
}

.l-flex__align-center {
  align-items: center;
}

.l-flex__align-baseline {
  align-items: baseline;
}

.l-flex__align-stretch {
  align-items: stretch;
}

/* Align Content */
.l-flex__align-content-start {
  align-content: flex-start;
}

.l-flex__align-content-end {
  align-content: flex-end;
}

.l-flex__align-content-center {
  align-content: center;
}

.l-flex__align-content-space-between {
  align-content: space-between;
}

.l-flex__align-content-space-around {
  align-content: space-around;
}

.l-flex__align-content-stretch {
  align-content: stretch;
}

/* ---- Grid ------ */
/* Display Grid */
.l-grid {
  display: grid;
}

/* Grid Auto Columns */
.l-grid__auto {
  grid-template-columns: repeat(auto-fill, minmax(0, 1fr));
}

.l-grid__col-1 {
  grid-template-columns: repeat(1, 1fr);
}

.l-grid__col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.l-grid__col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.l-grid__col-4 {
  grid-template-columns: repeat(4, 1fr);
}

/* Grid Gap */
.l-grid__gap-1 {
  gap: 1rem;
}

.l-grid__gap-2 {
  gap: 2rem;
}

.l-grid__gap-3 {
  gap: 3rem;
}

.l-grid__gap-4 {
  gap: 4rem;
}

/* Grid Row Gap */
.l-grid__row-gap-1 {
  row-gap: 1rem;
}

.l-grid__row-gap-2 {
  row-gap: 2rem;
}

.l-grid__row-gap-3 {
  row-gap: 3rem;
}

.l-grid__row-gap-4 {
  row-gap: 4rem;
}

/* Grid Column Gap */
.l-grid__col-gap-1 {
  column-gap: 1rem;
}

.l-grid__col-gap-2 {
  column-gap: 2rem;
}

.l-grid__col-gap-3 {
  column-gap: 3rem;
}

.l-grid__col-gap-4 {
  column-gap: 4rem;
}

/* Grid Auto Rows */
.l-grid__auto-rows {
  grid-auto-rows: minmax(100px, auto);
}

/* Grid Auto Columns */
.l-grid__auto-cols {
  grid-auto-columns: minmax(100px, auto);
}

/* ===== Container Classes ===== */

/* Max Width Classes */
.l-max-width {
  max-width: 100%;
}

.l-max-width__800 {
  max-width: 800px;
}

.l-max-width__1200 {
  max-width: 1200px;
}

.l-max-width__1600 {
  max-width: 1600px;
}

/* Full Width Classes */
.l-full-width {
  width: 100%;
}

.l-full-width__50 {
  width: 50%;
}

.l-full-width__75 {
  width: 75%;
}

/* Full Height Classes */
.l-full-height {
  height: 100%;
}

.l-full-height__50 {
  height: 50%;
}

.l-full-height__75 {
  height: 75%;
}

.l-full-height__100-vh {
  height: 100vh;
}


/* ---- Position ------ */

/* Fixed Position */
.l-position-fixed {
  position: fixed;
}

/* Absolute Position */
.l-position-absolute {
  position: absolute;
}

/* Relative Position */
.l-position-relative {
  position: relative;
}

/* Sticky Position */
.l-position-sticky {
  position: sticky;
}

/* Top Position */
.l-top-0 {
  top: 0;
}

.l-top-2 {
  top: 2rem;
}

.l-top-3 {
  top: 3rem;
}

.l-top-4 {
  top: 4rem;
}

/* Z-index */
.l-z-index-1 {
  z-index: 1;
}

.l-z-index-2 {
  z-index: 2;
}

.l-z-index-3 {
  z-index: 3;
}

.l-z-index-4 {
  z-index: 4;
}

/* Cursor Pointer */
.u-cursor-pointer {
  cursor: pointer;
}

/* Hide Element */
.u-hide {
  display: none;
}

/* Show Element */
.u-show {
  display: block;
}

/* Overflow Hidden */
.u-overflow-hidden {
  overflow: hidden;
}

/* Cursor Pointer */
.u-cursor-pointer {
  cursor: pointer;
}

/* Prevent from overscrolling */
.u-overscroll-behavior__none {
  overscroll-behavior: none;
}

/* Utility for left padding and body container */
.u-body__container {
  margin: 0 auto;
  width: 100%;
}

/* Index page style */

/* -------- Header ----------*/

/* Flex container for the top navbar */

.c-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-secondary-100);
}

/* Navbar link set text decoration to none */
.c-header__navbar a {
  text-decoration: none;
}

/* Navbar icon padding to 5px */
.c-header i {
  padding: 5px;
}

/* Navbar link hover effect */
.c-header__navbar a:hover {
  color: var(--clr-accent-one-100);
}

/* Active page link */
.is-active-page {
  color: var(--clr-accent-two-100);
}

.c-sidebar__list-item a {
  text-decoration: none;
}

.c-sidebar__list-item a:hover {
  color: var(--clr-accent-one-100);
  font-size: var(--fs-400);
}

/* Toggle class for hamburger icon */
.is-show-icon {
  display: none !important;
}

.hide-top-menu {
  display: none !important;
}

/* Initially hide sidebar menu */
.hide-sidebar-menu {
  display: none;
}

/* Logo style*/
.c-header__logo {
  width: 17%;
}

/* Header style */

.c-header__navbar ul {
  list-style: none;
}

@media (min-width: 768px) {
  /* ===== Container Classes ===== */
  .l-max-width-desktop {
    max-width: 1200px;
  }

  .u-body__container {
    margin-left: 200px;
    width: 1100px;
  }

  .u-pt-header {
    padding-top: 7rem;
  }
}
