/* 
   Top Navbar Styles
   ----------------------------------------
*/

/* Navbar icon padding to 5px */
.c-header i {
  padding: 5px;
}

/* Navbar link hover effect */
.c-header__navbar a:hover {
  color: var(--clr-accent-one-100);
}

/* Active page link */
.is-active-page {
  color: var(--clr-accent-two-100);
}

.c-sidebar__list-item a {
  text-decoration: none;
}

.c-sidebar__list-item a:hover {
  color: var(--clr-accent-one-100);
  font-size: var(--fs-200);
}

/* Toggle class for hamburger icon */
.is-show-icon {
  display: none !important;
}

.is-show-icon-index {
  display: none !important;
}

/* Initially hide sidebar menu */
.hide-sidebar-menu {
  display: none;
}

/* Sidebar Styles
     ---------------------------------------- */

.l-sidebar {
  background-color: var(--clr-secondary-100);
}

/* Remove margin from sidebar */
.c-sidebar__list--wrapper {
  margin: 0;
}
/* Add top padding to sidebar title */
.c-sidebar__list--title {
  padding: 10px 0px;
}

/* Typography style */

.c-typography__table th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.c-typography__hidden-section {
  display: none;
}

.c-colour__hidden-section {
  display: none;
}

.c-colour__min-width {
  width: min-content;
}

.c-spacing__mobile--margin {
  margin-top: 3rem;
}

/* Breadcrumb styles */
/* .c-breadcrumb {
  background-color: var();
  padding: 10px;
} */

.c-breadcrumb ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.c-breadcrumb ul li {
  display: inline;
}

.c-breadcrumb ul li:not(:last-child):after {
  content: "›"; /* Breadcrumb separator */
  padding: 0 5px;
}

.c-breadcrumb ul li a {
  text-decoration: none;
}

.c-breadcrumb ul li a:hover {
  text-decoration: underline;
}

/* Dark theme for textarea */
.c-code-container textarea {
  height: 400px;
  background-color: #1e1e1e; /* Dark background */
  color: #d4d4d4; /* Light text */
  border: 1px solid #333; /* Dark border */
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace; /* Monospace font */
  font-size: 14px;
  line-height: 1.5;
  resize: none;
}

.c-service__section li::before {
  content: "\2022";
    color: var(--clr-accent-one-100);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: 1em !important;
} 

/* ==Media Queries for desktops, 1200px and up) == */
@media only screen and (min-width: 1200px) {
  #hamburger-icon,
  #close-icon {
    display: none;
  }

  #hamburger-icon-index,
  #close-icon-index {
    display: none;
  }

  /* Show sidenavbar in desktop view */
  .hide-sidebar-menu {
    display: block;
  }

  /* Add gap between header items */
  .c-header__navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  /* Set list style none to header */
  .c-header__navbar li {
    list-style: none;
  }

  /* Display nav list as flex */
  .c-header__list {
    display: flex;
    gap: 10px;
  }

  .c-colour__hidden-section {
    display: table-cell;
  }

  .c-typography__hidden-section {
    display: table-cell;
  }

  .c-colour__min-width {
    width: 100%;
  }

  .c-spacing__mobile--margin {
    margin-left: 10rem;
    margin-top: 0;
  }

  .c-spacing__margin--padding {
    display: flex;
  }
}
